.btn {
    width: 12rem;
    height: 3rem;
    font-size: $text-m;
    background: $color-text;
    border: none;
    border-radius: 7rem 1rem / 12rem 9rem;
    color: $color-bg;
    outline: none;
    cursor: pointer;
    transition: all 0.1s;
    box-shadow: 0.3rem 0.3rem 0 $color-effect1, 
                0.6rem 0.6rem 0 $color-effect2, 
                0.9rem 0.9rem 0 $color-effect3, 
                1.2rem 1.2rem 0 $color-effect4, 
                1.5rem 1.5rem 0 $color-effect5, 
                1.8rem 1.8rem 0 $color-shadow, 
                2.1rem 2.1rem 0 $color-shadow, 
                2.4rem 2.4rem 0 $color-shadow, 
                2.7rem 2.7rem 0 $color-shadow;
    transform: translateY(-1rem);

    &:active {
        box-shadow: none;
        transform: translateY(0);
    }
}

