.carrousel {
    @include flex(row, center, center, $spacing-m);
    flex-wrap: wrap;
    margin-top: $spacing-l;

    .carrousel__img {
        img {
            height: 4rem;
        }
        
        &:nth-child(1) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 0s;
        }

        &:nth-child(2) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 1s;
        }

        &:nth-child(3) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 2s;
            
        }

        &:nth-child(4) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 3s;
        }

        &:nth-child(5) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 4s;
        }

        &:nth-child(6) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 5s;
        }

        &:nth-child(7) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 6s;
        }

        &:nth-child(8) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 7s;
        }

        &:nth-child(9) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 8s;
            
        }

        &:nth-child(10) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 9s;
        }

        &:nth-child(11) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 10s;
        }

        &:nth-child(12) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 11s;
        }

        &:nth-child(13) {
            animation: scaleAnimation 13s infinite;
            animation-delay: 12s;
        }
    }   
}


@keyframes scaleAnimation {
    0% { transform: scale(1) }
    5% { transform: scale(1.5) }
    10% { transform: scale(1) }
    100% { transform: scale(1) }
}

    
