@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');

/* COLORS */
$color-text: #fcedd8;
$color-bg: #d52e3f;
$color-shadow: #c11a2b;
$color-effect1: #eb452b;
$color-effect2: #efa032;
$color-effect3: #46b59b;
$color-effect4: #017e7f;
$color-effect5: #052939;

/* FONTS */

$font-title: 'Niconne', cursive;
$font-text: "Helvetica";

/* FONT-SIZE REFERENCE */
$text-desktop: 1rem;
$text-tablet: 0.8rem;
$text-mobile: 0.66rem;

/* FONT-SIZES */
$text-xxl: 3.6em;
$text-xl: 2.4em;
$text-l: 2em;
$text-m: 1.8em;
$text-base: 1.6em;
$text-s: 1.4em;
$text-xs: 1.2em;

/* SPACES */
$spacing-l: 3rem;
$spacing-m: 2rem;
$spacing-s: 1rem;
$spacing-xs: 0.1rem;

/* BORDERS */
$b-desktop: 0.3rem;
$b-mobile: 0.15rem;